<div class='rootDiv'>
  <div id="topDiv" class="topDiv">
    <div id="topLeftDiv" class="topLeftDiv">
      <i class="fa fa-chevron-left fa-2x topButtonAdjust" (click)="onPrev()"></i>
      <i class="fa fa-chevron-right fa-2x topButtonAdjust" (click)="onNext()"></i>
    </div>
    <div id="status" class="statusSty">{{status}}</div>
    <div id="topRightDiv" class="topRightDiv">
      <i class="fa fa-film fa-2x topButtonAdjust" (click)="onShowColThumb()" *ngIf="!showColThumbs"></i>
      <i class="fa fa-film fa-rotate-90 fa-2x" (click)="onShowRowThumb()" *ngIf="!showRowThumbs"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span class="fa-stack fa-2x" (click)="onCloseThumbs()" *ngIf="showColThumbs || showRowThumbs">
        <i class="fa fa-film fa-stack-1x"></i>
        <i class="fa fa-close fa-stack-1x" [ngStyle]="{color: 'red'}"></i>
      </span>
    </div>
  </div>
  <div id="middleDiv" class="middleDiv" [ngStyle]="{height: showColThumbs ? 'calc(100vh - 160px)' : 'auto'}">
    <div id="imageDiv" class="imageDiv" [ngStyle]="imageUrl">
      <div id="prevdiv" class="prevSty" *ngIf="currentIndex > 0">
        <i class="fa fa-chevron-left fa-3x" (click)="onPrev()"></i>
      </div>
      <div id="nextdiv" class="nextSty" *ngIf="showNext">
        <i class="fa fa-chevron-right fa-3x" (click)="onNext()"></i>
      </div>
    </div>
    <div id="colThumbs" class="colThumbs" *ngIf="showColThumbs">
      <img
        class="colThumbImage"
        *ngFor="let pic of picList; let i = index"
        id="imgc{{i}}"
        src="{{pic.thumbUrl}}"
        (click)="onThumbClick(i)"
        [ngStyle]="{'border-color': (currentIndex == i) ? 'red' : 'transparent'}"
      />
    </div>
  </div>
  <div id="rowThumbs" class="rowThumbs" *ngIf="showRowThumbs">
    <img
      class="rowThumbImage"
      *ngFor="let pic of picList; let i = index"
      id="imgr{{i}}"
      src="{{pic.thumbUrl}}"
      (click)="onThumbClick(i)"
      [ngStyle]="{'border-color': (currentIndex == i) ? 'red' : 'transparent'}"
    />
  </div>
</div>
