.rootDiv {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 96px);
  width: calc(100% - 0px);
}
.topDiv {
  display: flex;
  height: 64px;
  justify-content: space-between;
  margin: 0 10px;
}
.topLeftDiv, .topRightDiv {
  display: flex;
  vertical-align: middle;
}
.topButtonAdjust {
  height: 32px;
  margin-top: 16px;
}
.middleDiv {
  display: flex;
  flex-grow: 1;
}
.imageDiv {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  margin: 0;
  moz-background-size: contain;
  o-background-size: contain;
  overflow: hidden;
  padding: 0px;
  position: relative;
  webkit-background-size: contain;
  width: calc(100% - 0px);
}
.imageDiv:hover {
  color: white;
}
.nextSty {
  position: absolute;
  right: 25px;
  top: 50%;
}
.prevSty {
  position: absolute;
  left: 25px;
  top: 50%;
}
.statusSty {
  color: white;
  font-size: 1.5em;
  height: 32px;
  margin-top: 16px;
  position: relative;
  z-index: 5;
}
.rowThumbs {
  display: block;
  margin: 10px 5px 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.colThumbs {
  display: block;
  margin: 0px 5px 5px;
  max-width: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
}
.colThumbImage {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin: 5px 22px 5px 0;
  max-width: calc(100% - 6px);
  max-height: 13vh;
  vertical-align: middle;
}
.rowThumbImage {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 160px;
  margin: 0 5px 5px;
}
