<div class="Dropdown">
  <div class="DropdownControl" (mousedown)="handleMouseDown()" (touchend)="handleMouseDown()">
    <span>{{selectedOption.label}}</span>
    <i class="fa fa-angle-up fa-lg" *ngIf="isOpen; else closedBlock"></i>
    <ng-template #closedBlock><i class="fa fa-angle-down fa-lg"></i></ng-template>
  </div>
  <div class="DropdownMenu" *ngIf="isOpen">
    <div *ngFor="let option of options">
      <span *ngIf="option.value; else elseBlock" class="DropdownOption" (click)="onSelect(option)">{{option.label}}</span>
      <ng-template #elseBlock><hr /></ng-template>
    </div>
  </div>
</div>
