.content {
  border: 1px solid rgba(0; 0; 0; 0.08);
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0; 0; 0; 0.2);
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 10px 15px 15px;
  max-width: 280px;
  min-width: 200px;
  text-align: left;
  word-wrap: break-word;
  z-index: 200;
}

.contentTitle {
  font-size: 1.2em;
  margin: 15px 15px 0;
  text-align: center;
}

.contentOuter {
  background-color: transparent;
  color: transparent;
  position: absolute;
}
